%article{class: "design#{defined?(single) ? " single" : ""}"}
    - unless entry.published
        .unpublished= link_to "Unpublished", edit_entry_path(entry)
    %section
        - if !entry.image.blank?
            - if entry.link.blank?
                = image_tag entry.image.url(:post)
            - else
                = link_to (image_tag entry.image.url(:post)), entry.link, class: "img"
        - if !defined?(single)
            %h3
                = entry.title
                = links entry
        - if defined?(single)
            - title entry.title
            = markdown entry.content
            %div.tags
                Filed in
                = tag_list(entry)
                on
                = entry.created_at.strftime("%b %d, %Y.")
                - if session[:user_id]
                    = link_to "Edit", edit_entry_path(entry)
                    or&nbsp;
                    %span>= link_to "delete", entry_path(entry), method: :delete, confirm: "you sure?"
                    = "."