%article{:class => "design#{defined?(single) ? " single" : ""}"}
    - unless entry.published
        .unpublished= link_to "Unpublished", edit_entry_path(entry)
    %section
        - if !entry.image.blank?
            - if entry.link.blank?
                = image_tag entry.image
            - else
                = link_to (image_tag entry.image), entry.link, :class => "img"
        - if !defined?(single)
            %h3
                = entry.title
                = link_to "read more →", slug_entries_path(entry.slug), :class => "read_more"
        - if defined?(single)
            - title entry.title
            = markdown entry.content
            %div.tags
                Filed in
                = tag_list(entry)
                on
                = entry.created_at.strftime("%b %d, %Y.")
                - if session[:user_id]
                    = link_to "Edit", edit_entry_path(entry)