%article{:class => entry.entry_type}
    - if !entry.image.blank?
        - if entry.link.blank?
            = image_tag entry.image
        - else
            = link_to (image_tag entry.image), entry.link
    - if defined?(single)
        = markdown entry.content
    - else
        %h3
            - if !entry.link.blank? && entry.image.blank?
                = link_to entry.title, entry.link
                - else
                = entry.title
            = link_to "read more →", slug_entries_path(entry.slug), :class => "read_more"
%hr