%article{class: "blog#{defined?(single) ? " single" : ""}"}
    - unless entry.published
        .unpublished= link_to "Unpublished", edit_entry_path(entry)
    %section
        %h3
            - if defined?(single)
                = entry.title
            - else
                = link_to entry.title, slug_entries_path(entry.slug)
        - if defined?(single)
            - title entry.title
            = markdown entry.content
            %div.tags<
                Filed in
                = tag_list(entry)
                on&nbsp;
                %span>= entry.created_at.strftime("%b %d, %Y.")
                - if entry.tags.any?{|x|x.slug == "haskell"}
                    &nbsp;
                    %span>= link_to "Literate Haskell version", slug_entries_path(entry.slug) + ".lhs"
                    = "."
                - if session[:user_id]
                    = link_to "Edit", edit_entry_path(entry)
                    or&nbsp;
                    %span>= link_to "delete", entry_path(entry), method: :delete, confirm: "you sure?"
                    = "."
            #disqus_thread
        - else
            = markdown excerpt(entry.preview, "", radius: 250)
            = links entry