%article{class: "code#{defined?(single) ? " single" : ""}"}
    - unless entry.published
        .unpublished= link_to "Unpublished", edit_entry_path(entry)
    %section
        %h3
            = linkify_title entry
            - if !defined?(single)
                = links entry
        - if defined?(single)
            - title entry.title
            = fancy_img entry
            = markdown entry.content
            %div.tags
                Filed in
                = tag_list(entry)
                on
                = entry.created_at.strftime("%b %d, %Y.")
                - if session[:user_id]
                    = link_to "Edit", edit_entry_path(entry)
                    or&nbsp;
                    %span>= link_to "delete", entry_path(entry), method: :delete, confirm: "you sure?"
                    = "."
            #disqus_thread
                    