= content_for :body_class do
    home box-shown login
#about
    = form_tag login_path, :method => "put" do
        %p
            = label_tag :username, "Username"
            = text_field_tag :username
            - unless flash[:error].blank?
                %span.error wrong.
        %p
            = label_tag :password, "Password"
            = password_field_tag :password
        = submit_tag "Login", :class => "submit"